*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 8%, 63%);
    --Darkpurple: hsl(292, 42%, 14%);
}

body{
    font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-image: url(/assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
}

main{
    background-color: var(--White);
    font-size: 0.5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 14rem;
    box-shadow: 0.2rem 0.2rem 1.6rem var(--Grayishpurple);
}

.main-heading{
    display: flex;
    align-items: center;
}

.main-heading img{
    height: 1rem;
}

.main-heading h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.7rem;
}

main img{
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}


.headings{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

h2{
    font-weight: 900;
}

.faq-content{
    text-align: left;
    max-width: 18rem;
    line-height: 1.5;
    font-size: 0.64rem;
    font-weight: 200;
}

@media (width < 426px){
    body{
        background-image: url(/assets/images/background-pattern-mobile.svg);
        background-size: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        width: 100vh
    }

    main{
        margin-top: 25rem;
    }

    main h2{
        font-size: 1rem;
        max-width: 13rem;
        line-height: 1.5;
    }
}